<a href="https://colab.research.google.com/github/zetta-health/exp-curso-criar-algoritmos-saude/blob/master/Aula_02_webinario.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 <a href="https://www.linkedin.com/company/zetta-health-analytics/" align="center"><img src="https://raw.githubusercontent.com/zetta-health/exp-curso-python-saude/master/assets/zetta-exp-logo.jpg" width="300" align="center"></a>

# **Zetta Exponential - Curso de Introdução ao Python para Gestão da Saúde**
# Semana 02 - Tipos de dados, operadores matemáticos, lógicos e relacionais.
**Prof. Caio Salgado**

# Objetivos de hoje

Nesta aula, você aprenderá:

1. Identificar os diferentes tipos de objetos do Python;

2. Usar as operações matemáticas e lógicas, combinando com os diferentes tipos de objetos;

3. Combinar diferentes tipos de objetos em Python:
  - operações matemáticas
  - operações relacionais
  - operações lógicas
  - concatenação 
  - percorrer

## Antes de começar...

1. Uso do [Slack](https://join.slack.com/t/zettahealthanalytics/shared_invite/zt-g5vl1pw0-j6htV5aQKVZa8mfSVX5l9A) e responder o [questionário de avaliação](https://docs.google.com/forms/d/e/1FAIpQLSeCWaz9NyNBb0Hp-C23Y-VQgEQLlJmSvhPDE9PwGttkFks82g/viewform) da semana 1.
1. Salve este Colab no seu Google Drive e edite-o junto comigo.
2. Dica: use comentários para fazer anotações enquanto você estuda. Você pode usar tanto células em Mardown (Esta aqui é uma) ou Células de código. Se for usar a última, lembre-se de começar com o sinal de '#'.

In [ ]:
# Esta é uma célula de código com comentário. Execute-a e nada acontecerá :)

# Tipos de dados no Python

Este são os tipos de dados que veremos hoje:
  - **int** (Números inteiros)
  - **float**
  - **bool**
  - **String**
  - **List** (Listas)
  - **Dicionários**

## 1 -  Int (Inteiros)

In [ ]:
# 1.1 Tipo int (inteiro)
a = 1

In [ ]:
# 1.2 Imprimir a variável 'a'; você pode usar a função 'print' também.
a
# print(a)

1

In [ ]:
# 1.3. Verificar o tipo da variável alocada
#      use a função 'type'
type(a)

int

## 2 - Float

In [ ]:
# 2.0. Tipo float
b = 1.2

In [ ]:
# Adicional: você pode usar a função 'round'
round(1.2)

1

In [ ]:
# 2.1. Repare a diferença entre 1.2 e 2.1
b

1.2

In [ ]:
# 2.2. Qual o tipo da variável 'b'?
type(b)

float

In [ ]:
# 3.0. Declarar uma variável 'c'.
c = 1.0

In [ ]:
# Curiosidade. Assim como viver, Floats não são precisas!
print(f"{b:.30f}") # Você não deve memorizar este código. 
                   # Ele apenas imprime a variável 'b' com 30 casas decimais.

1.199999999999999955591079014994

### **Exercício 01**

Qual o tipo da variável 'c'?


*   Int
*   Float

Como verificar o tipo da variável usando Python?


**Dica**: Veja # 2.2

### **Desafio 01**

Crie uma variável 'd' resultante resultante da soma de um 'int' e um 'float'. Qual o tipo da variável 'd'? 

*   Int
*   Float
*   Erro

**Dica:** Use a célula de código abaixo para responder ao desafio.

In [ ]:
# Seu código aqui:

### **Operadores matemáticos**

Em Python, podemos acessar funções de calculadora através dos **operadores matemáticos**. 

É igual à matemática da escola. Por exemplo, em caso de uma expressão numérica, multiplicação e divisão têm prioridade sobre adição e subtração, e operações entre parênteses têm prioridade sobre o resto da expressão.

Na tabela abaixo, temos a relação entre as operações e os operadores.

Operador | Operação
--- | ---
+ | Adição
- | Subtração
* | Multiplicação
/ | Divisão
// | Divisão Inteira
** | Exponencial 
% | Módulo

In [ ]:
# Divisão
10 / 3

3.3333333333333335

In [ ]:
# Subtração
10 - 15

-5

In [ ]:
# Exponencial
2**4

16

In [ ]:
# Como vimos na aula passada, para tirar a raiz quadrada podemos usar a  
# biblioteca math.
import math
math.sqrt(16)

4.0

### **Desafio 02**

Qual o resultado da operação abaixo?

**Dica:** Consulte a tabela de [operadores matemáticos](https://colab.research.google.com/github/zetta-health/exp-curso-python-saude/blob/master/PySaude_02_python_03_tipos_de_operadores.ipynb#scrollTo=_1K-9jikvNY4).

In [ ]:
(2 + 5) * 10

## 3 - Bool (Booleanos)

Uma variável **booleana**, ou lógica, é aquela que armazena os valores verdadeiro (**True**) ou falso (**False**).

In [ ]:
# Biscoito é certo, bolacha não.
True

True

In [ ]:
# NYC é melhor que SP.
False

False

### **Operadores Relacionais**

Os **operadores relacionais** são utilizados para estabeler comparações lógicas. Quando aplicados, o resultado é sempre verdadeiro (True) ou falso (False).

Operador | Relação 
--- | ---
== | Igualdade
!= | Diferença
> | maior que 
< | menor que
>= | maior igual que 
<= | menor igual que

In [ ]:
10 > 7

In [ ]:
# Podemos combinar operadores matemáticos com os operadores relacionais 
12 + 8 != 2 * 10

### **Atenção!**

Não confundir **operador de atribuição** (`=`) com o sinal que estabelece **comparação** (`==`).

In [ ]:
minha_idade = 33
idade_da_minha_coluna = 80

minha_idade == idade_da_minha_coluna

### **Operadores lógicos**

Os **operadores lógicos** servem para combinar operações de verdadeiro (True) e falso (False). No Python, existem três operadores lógicos: **and** (e), **or** (ou) e **not** (não).


### ***And***

O operador And (e) é um operador de conjunção. Ele só estabelece um resultado verdadeiro quando as duas operações combinadas forem *verdadeiras*.

A | B | A *and* B
--- | --- | ---
False | False | False
False | True | False 
True | False | False 
True | True | True 

### ***Or***

O operador Or (ou) é um operador de disjunção. O resultado estabelecido por ele só será falso quando ambas as operações combinadas forem *falsas*. Em qualquer outro caso, o resultado será *verdadeiro*.

A | B | A *or* B
---| ---| ---
False | False | False 
False | True | True 
True | False | True 
True | True | True 


### ***Not***

O operador Not (não) é um operador de negação. Ou seja, ele retorna a operação inversa da operação inserida.

A | *Not* A
---| ---
True | False 
False | True

### Exercício 02

Corrija o código abaixo.
Veja se você atende aos requerimentos da triagem para uma vaga de cientista de dados, completando com booleanos (False ou True)

In [ ]:
# Para uma vaga de emprego você precisar saber Python E fazer cafezinho.
fazer_cafezinho =  # complete com bool
saber_python    =  # complete com bool

print('Passou na triagem da vaga: {}'.format(fazer_cafezinho and saber_python))

In [ ]:
# Para uma vaga de emprego você precisa saber Python ou R.
saber_python = # complete com bool
saber_r      = # complete com bool

print('Passou na triagem da vaga: {}'.format(saber_r or saber_python))

## 4 - Strings

**Strings** são **texto**. É possível manipulá-las no Python.

In [ ]:
# Exemplos de texto:
verdade_absoluta_01 = 'Navegar é preciso,'
verdade_absoluta_02 = " viver não é preciso."

# Concatenação de string
verdade_absoluta_01 + verdade_absoluta_02

'Navegar é preciso, viver não é preciso.'

In [ ]:
# Existem diversas operações que podem ser feitas com strings. Exemplos:
texto = 'cabeça,ombro,joelho,pé'

# Vamos separar as strings usando o método 'split'
texto.split(',')

In [ ]:
# Podemos substituir um trecho da string por outro com o método 'replace'
verdade_absoluta_01.replace('Navegar', 'Beber')

'Beber é preciso,'

## 5 - Listas

Uma **lista** é uma **coleção de itens em uma ordem específica**.

In [ ]:
# Os elementos de uma lista são definidos entre []
nova_lista = []

In [ ]:
# Listas são como células de excel (colunas ou linhas)
idades = [1, 2, 4 , 6]

In [ ]:
idades2 = [4, 6.5, 7.7, 9]

In [ ]:
# Podemos usar a função 'sum' para somar valores
sum(idades)

In [ ]:
# E com a função 'len', temos o número de elementos da lista
len(idades)

4

### **Desafio 03**

Use as funções 'sum' e 'len' para calcular a média aritmética da lista 'idades'.

A média aritmética é a soma dos valores de uma lista dividida pela quantidade de elementos da lista.

In [ ]:
# Sua resposta aqui:
media =

In [ ]:
# A função 'max' retorna o valor máximo
max(idades)

6

In [ ]:
# E a função 'min' retorna o valor mínimo
min(idades)

1

In [ ]:
# É possível concatenar (juntar) uma lista a outra.
idades3 = idades + idades2

In [ ]:
idades3 + [3]

In [ ]:
# Podemos criar listas de strings também.
nomes = ['aluno_1', 'aluno_2', 'aluno_3', 'aluno_4']

In [ ]:
# É possível acessar os elementos da lista através de índices.
# Atenção! Os índices em python começam em 0.
nomes[0]

'aluno_1'

In [ ]:
nomes[2]

'aluno_3'

### **Slicing**

Podemos selecionar apenas trechos de listas utilizando *slicing*.

O primeiro valor representa o index do item inicial e o segundo representa onde se encerra. No entanto, o número que encerra o slice não é inclusivo, ou seja, quando o encerramento do slice é em 3, o index do último item será 2, um a menos.

In [ ]:
# Você pode cortar uma lista usando seus índices
nomes[:3]

['aluno_1', 'aluno_2', 'aluno_3']

In [ ]:
nomes[2:]

['aluno_3', 'aluno_4']

In [ ]:
# Pode acrescentar valores com o método 'append'
meu_nome = 'meu nome' # Substitua os valores entre aspas por seu nome
nomes.append(meu_nome)
print(nomes)

## 6 - Dicionários 

**Dicionários** permitem que você estabeleça **conexões entre peças individuais de informação**, como por exemplo palavras (chaves, *keys*) e seus significados (valores, *values*).

In [ ]:
# Dicionários são definidos entre {}.
dicionario = {}

In [ ]:
# Podemos adicionar valores ao dicionário
dicionario['aluno_1'] = 33

In [ ]:
dicionario['aluno_2'] = 43

In [ ]:
dicionario

{'aluno_1': 33, 'aluno_2': 43}

### Exercício 03

Adicione seu nome e idade ao dicionário.

In [ ]:
# Sua reposta aqui:

## **Próxima aula...**

In [ ]:
# Por fim, vamos percorrer os itens de uma lista usando um for loop.
for nome in nomes: # Não se preocupe com esse código.
  print(nome)      # Veremos como criá-lo na próxima aula!

aluno_1
aluno_2
aluno_3
aluno_4

# Muito obrigado!